nav{
    display: flex;
    justify-content: space-evenly;
    color: #000;
    margin-right: 20%;
    
    

}

body{
    font-family: 'Arial',sans-serif;
    background: #fff;
    

}
.mainPage{
    font-family: 'Arial',sans-serif;
    background: #94c5db;
}
.mainMenu{
    display: flex;
    list-style: none;
}
.mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color:#b4b4bd;
    font-size: 0.75rem;
}
.mainMenu li a:hover{
    background:  #83bfba;
}
.openMenu i {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
   
}
.logo{
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
}
.mainMenu .closeMenu i {
    font-size: 2rem;
    display: none;
    cursor: pointer;

}
.figure{
    display: flex;
    margin-right: 5%;
}
.booklogo{
    width: 40px;
}

.text{
    color:#b4b4bd;
}


.homepage{
    display: flex;       
    /* gap: 5px; */
    margin-top:50px;
    margin-left: 20px;
    

}

.logos{
    
    width: 90px;
    height: 90px  ;
}
.btn{
    background: #83bfba; 
    border-radius: 30px;
    border: none;
    height: 50px;
    width: 140px;
}


#second-section-text{
    margin-left: 10%;
}
.opening-Text{
    font-size:25px;
    font-weight: 400px;

    

}

.readerImage{
    border-radius: 50%;
    height: 500px;
    margin-left: 50%;
    
    /* background: #f2c776; */
}
.searchbutton{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 70px;
    width: 140px;
    height: 50px;
    background: #83bfba;
    border:none;
    margin:4px;
    
}
.search{
  
    display: inline-block;
    position: relative;
    

}
.input{
    border-radius: 50px;
    width: 500px; 
    height: 60px; 
    border: none;
    font-size: 18px;

}

.icon-div{
    display: flex;
    gap: 2%;
}

.footer-images{
    display: flex;
    justify-content: 20px;
    margin-left: 30%;
}
.footer-text{
    text-align: center;
    color:#b4b4bd ;
}
.footer{
    background-color: #e3f0ef;
    padding: 2px;
    /* margin-top: 1%; */
    height: 19vh;
    width: 100%;
}

@media screen and (max-width:280px) {
    .navbar{
        display: flex;
        flex-wrap: wrap;
        color: #000;
    }
    .mainMenu{
        display: flex;
        flex-wrap: wrap;
    }
    .opening-Text{
        font-size:15px;
        font-weight: 200px;
    }
    #second-section-text{
        display: flex;
        flex-wrap: wrap;
    } 
    
    .text{
        font-size: 15px;
    }
    .search{
        display: flex;
        flex-wrap: wrap;
    }
    
    .homepage{
        display: flex;
        flex-wrap: wrap;
    }
    .readerImage{
        border-radius: 50%;
        height: 200px;
        /* margin-left: -10%; */
        
        /* background: #f2c776; */
    }
    .searchbutton{
        /* position: absolute; */
        top: 0;
        right: 0;
        border-radius: 70px;
        width: 140px;
        height: 50px;
        background: #83bfba;
        border:none;
        margin:4px;
        
    }
    .search{
      
        display: flex;
        flex-wrap: wrap;
        
    
    }
    .input{
        border-radius: 50px;
        width: 200px; 
        height: 60px; 
        border: none;
        font-size: 18px;
    
    }
    
    .icon-div{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    
    .footer-images{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: 20px; */
        /* margin-left: 20%; */
    }
    .footer-text{
        text-align: center;
        color:#b4b4bd ;
    }
    .footer{
        background-color: #e3f0ef;
        padding: 2px;
        /* margin-top: 1%; */
        height: 47vh;
        width: 100%;
    } 
}

@media screen and (max-width:375px) {
    .navbar{
        display: flex;
        flex-wrap: wrap;
        color: #000;
    }
    .mainMenu{
        display: flex;
        flex-wrap: wrap;
    }
    .opening-Text{
        font-size:20px;
        font-weight: 300px;
    }
    #second-section-text{
        display: flex;
        flex-wrap: wrap;
    } 
    
    .text{
        font-size: 20px;
    }
    .search{
        display: flex;
        flex-wrap: wrap;
    }
    
    .homepage{
        display: flex;
        flex-wrap: wrap;
    }
    .readerImage{
        border-radius: 50%;
        height: 200px;
        margin-left: 50%;
        
        /* background: #f2c776; */
    }
    .searchbutton{
        /* position: absolute; */
        top: 0;
        right: 0;
        border-radius: 70px;
        width: 140px;
        height: 50px;
        background: #83bfba;
        border:none;
        margin:4px;
        
    }
    .search{
      
        display: flex;
        flex-wrap: wrap;
        
    
    }
    .input{
        border-radius: 50px;
        width: 200px; 
        height: 60px; 
        border: none;
        font-size: 18px;
    
    }
    
    .icon-div{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    
    .footer-images{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: 20px; */
        /* margin-left: 20%; */
    }
    .footer-text{
        text-align: center;
        color:#b4b4bd ;
    }
    .footer{
        background-color: #e3f0ef;
        padding: 2px;
        /* margin-top: 1%; */
        height: 47vh;
        width: 100%;
    } 
}


@media screen and (max-width:450px) {
    .navbar{
        display: flex;
        flex-wrap: wrap;
        color: #000;
    }
    .mainMenu{
        display: flex;
        flex-wrap: wrap;
    }
    .opening-Text{
        font-size:20px;
        font-weight: 300px;
    }
    #second-section-text{
        display: flex;
        flex-wrap: wrap;
    } 
    
    .text{
        font-size: 20px;
    }
    .search{
        display: flex;
        flex-wrap: wrap;
    }
    
    .homepage{
        display: flex;
        flex-wrap: wrap;
    }
    .readerImage{
        border-radius: 50%;
        height: 200px;
        margin-left: 50%;
        
        /* background: #f2c776; */
    }
    .searchbutton{
        /* position: absolute; */
        top: 0;
        right: 0;
        border-radius: 70px;
        width: 140px;
        height: 50px;
        background: #83bfba;
        border:none;
        margin:4px;
        
    }
    .search{
      
        display: flex;
        flex-wrap: wrap;
        
    
    }
    .input{
        border-radius: 50px;
        width: 200px; 
        height: 60px; 
        border: none;
        font-size: 18px;
    
    }
    
    .icon-div{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    
    .footer-images{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: 20px; */
        /* margin-left: 20%; */
    }
    .footer-text{
        text-align: center;
        color:#b4b4bd ;
    }
    .footer{
        background-color: #e3f0ef;
        padding: 2px;
        /* margin-top: 1%; */
        height: 47vh;
        width: 100%;
    }
    
}


@media screen and (max-width:600px) {
    .navbar{
        display: flex;
        flex-wrap: wrap;
        color: #000;
    }
    .mainMenu{
        display: flex;
        flex-wrap: wrap;
    }
    .opening-Text{
        font-size:20px;
        font-weight: 300px;
    }
    #second-section-text{
        display: flex;
        flex-wrap: wrap;
    } 
    
    .text{
        font-size: 20px;
    }
    .search{
        display: flex;
        flex-wrap: wrap;
    }
    
    .homepage{
        display: flex;
        flex-wrap: wrap;
    }
    .readerImage{
        border-radius: 50%;
        height: 200px;
        margin-left: 50%;
        
        /* background: #f2c776; */
    }
    .searchbutton{
        /* position: absolute; */
        top: 0;
        right: 0;
        border-radius: 70px;
        width: 140px;
        height: 50px;
        background: #83bfba;
        border:none;
        margin:4px;
        
    }
    .search{
      
        display: flex;
        flex-wrap: wrap;
        
    
    }
    .input{
        border-radius: 50px;
        width: 200px; 
        height: 60px; 
        border: none;
        font-size: 18px;
    
    }
    
    .icon-div{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    
    .footer-images{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: 20px; */
        /* margin-left: 20%; */
    }
    .footer-text{
        text-align: center;
        color:#b4b4bd ;
    }
    .footer{
        background-color: #e3f0ef;
        padding: 2px;
        /* margin-top: 1%; */
        height: 47vh;
        width: 100%;
    }
}
@media screen and (max-width:820px) {
    .navbar{
        display: flex;
        flex-wrap: wrap;
        color: #000;
    }
    .mainMenu{
        display: flex;
        flex-wrap: wrap;
    }
    .opening-Text{
        font-size:20px;
        font-weight: 300px;
    }
    #second-section-text{
        display: flex;
        flex-wrap: wrap;
    } 
    
    .text{
        font-size: 20px;
    }
    .search{
        display: flex;
        flex-wrap: wrap;
    }
    
    .homepage{
        display: flex;
        flex-wrap: wrap;
    }
    .readerImage{
        border-radius: 50%;
        height: 200px;
        margin-left: 50%;
        
        /* background: #f2c776; */
    }
    .searchbutton{
        /* position: absolute; */
        top: 0;
        right: 0;
        border-radius: 70px;
        width: 140px;
        height: 50px;
        background: #83bfba;
        border:none;
        margin:4px;
        
    }
    .search{
      
        display: flex;
        flex-wrap: wrap;
        
    
    }
    .input{
        border-radius: 50px;
        width: 200px; 
        height: 60px; 
        border: none;
        font-size: 18px;
    
    }
    
    .icon-div{
        display: flex;
        flex-wrap: wrap;
        gap: 2%;
    }
    
    .footer-images{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: 20px; */
        /* margin-left: 20%; */
    }
    .footer-text{
        text-align: center;
        color:#b4b4bd ;
    }
    .footer{
        background-color: #e3f0ef;
        padding: 2px;
        /* margin-top: 1%; */
        height: 47vh;
        width: 100%;
    }  
}